In [2]:
from flask import Flask, render_template, url_for, request

app = Flask(__name__)

 

@app.route('/')
@app.route('/home')
def home():
    return render_template("index.html")



@app.route('/result',methods=['POST', 'GET'])
def result():
    output = request.form.to_dict()
    print(output)
    name = output["name"]


    return render_template('index.html', name = name)
    




if __name__ == "__main__":
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

In [3]:
import pandas as pd
import itertools

URL DATASET WITH BENIGN URLs

In [43]:
df_data = pd.read_csv(r"D:\Devisha Bhargava\data set\urldata.csv")
df_real['type'] = 'benign'
df_real.head()
df_good = pd.concat([df_data,df_real], ignore_index=True)
df_good.shape

df_good.head()

   Unnamed: 0                        url   label  result type
0         0.0     https://www.google.com  benign     0.0  NaN
1         1.0    https://www.youtube.com  benign     0.0  NaN
2         2.0   https://www.facebook.com  benign     0.0  NaN
3         3.0      https://www.baidu.com  benign     0.0  NaN
4         4.0  https://www.wikipedia.org  benign     0.0  NaN

In [37]:
df_data =pd.read_csv(r"D:\Devisha Bhargava\data set\urldata.csv")
df_data.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [51]:
df_real['type'] = 'benign'
df_real.head()
df_data = df_data[df_data['label']=='good']
df_data.shape
df_data.head()

Empty DataFrame
Columns: [Unnamed: 0, url, label, result]
Index: []

In [48]:
df_good = pd.concat([df_data,df_real], ignore_index=True)
df_good.shape

(450177, 5)

In [49]:
df_good.head()

   Unnamed: 0     url label  result    type
0         NaN  result   NaN     NaN  benign
1         NaN       0   NaN     NaN  benign
2         NaN       0   NaN     NaN  benign
3         NaN       0   NaN     NaN  benign
4         NaN       0   NaN     NaN  benign

In [57]:
import pandas as pd

# Define the file path
file_path = r"D:\Devisha Bhargava\data set\data.csv"

# Open the file and read it line by line, skipping bad lines
with open(file_path, 'r', encoding='utf-8', errors='ignore') as file:
    df6 = pd.read_csv(file)

# Display the DataFrame
print(df6.head())

                      url label
0  diaryofagameaddict.com   bad
1        espdesign.com.au   bad
2      iamagameaddict.com   bad
3           kalantzis.net   bad
4   slightlyoffcenter.net   bad

In [58]:
df6 = df6[['url']]
df6['type']='malware'
df6.head()

                      url     type
0  diaryofagameaddict.com  malware
1        espdesign.com.au  malware
2      iamagameaddict.com  malware
3           kalantzis.net  malware
4   slightlyoffcenter.net  malware

In [59]:
df6.shape

(420464, 2)

In [67]:
df_final = pd.concat([df_data,df6],ignore_index=True)
df_final.shape

(420464, 5)

In [72]:
# Example: Save to the Desktop
df_final.to_csv(r"D:\Devisha Bhargava\data set\data.csv", index=False)

In [9]:
import random
import csv

# Machine Learning Packages
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression(solver='lbfgs', max_iter=1000)
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [15]:
def makeTokens(f):
    tkns_BySlash = str(f.encode('utf-8')).split('/')	# make tokens after splitting by slash
    total_Tokens = []
    for i in tkns_BySlash:
        tokens = str(i).split('-')	# make tokens after splitting by dash
        tkns_ByDot = []
        for j in range(0,len(tokens)):
            temp_Tokens = str(tokens[j]).split('.')	# make tokens after splitting by dot
            tkns_ByDot = tkns_ByDot + temp_Tokens
        total_Tokens = total_Tokens + tokens + tkns_ByDot
    total_Tokens = list(set(total_Tokens))	#remove redundant tokens
    if 'com' in total_Tokens:
        total_Tokens.remove('com')	#removing .com since it occurs a lot of times and it should not be included in our features
    return total_Tokens

In [16]:
urls_data = pd.read_csv(r"C:/Users/Devisha/Downloads/urldata.csv")    
y = urls_data["label"]
url_list = urls_data["url"]
vectorizer = TfidfVectorizer(tokenizer=makeTokens)

In [17]:
X = vectorizer.fit_transform(url_list)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

C:\Users\Devisha\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [18]:
logit = LogisticRegression()	#using logistic regression
logit.fit(X_train, y_train)
print("Accuracy ",logit.score(X_test, y_test))

Accuracy  0.9619231089389129

C:\Users\Devisha\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(